<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ユーザー管理</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
</head>

<body>
    <div th:replace="~{header :: header}"></div>

    <main class="main">
        <h2>ユーザー管理</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>メール</th>
                    <th>ニックネーム</th>
                    <th>ステータス</th>
                    <th>凍結操作</th>
                    <th>ロール</th>
                    <th>ロール操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${userList}">
                    <td th:text="${user.id}">1</td>
                    <td th:text="${user.email}">sample@example.com</td>
                    <td th:text="${user.nickname}">ニックネーム</td>

                    <!-- 凍結操作 -->
                    <td th:text="${user.enable ? '有効' : '凍結中'}"
                        th:classappend="${user.enable} ? 'status-active' : 'status-frozen'">
                    </td>
                    <td>
                        <form th:action="@{/moderate/users/{userId}/freeze(userId=${user.id})}" method="post"
                            th:if="${user.enable}">
                            <button type="submit" class="btn btn-red">凍結</button>
                        </form>
                        <form th:action="@{/moderate/users/{userId}/unfreeze(userId=${user.id})}" method="post"
                            th:if="${!user.enable}">
                            <button type="submit" class="btn btn-blue">解除</button>
                        </form>
                    </td>

                    <!-- ロール操作 -->
                    <td th:text="${user.roleName == 'ROLE_ADMIN' ? '管理者' :user.roleName == 'ROLE_MODERATOR' ? 'モデレーター' : '一般'}"
                        th:classappend=" 
                        ${user.roleName == 'ROLE_ADMIN'} ? 'role-admin' : 
                        (${user.roleName == 'ROLE_MODERATOR'} ? 'role-mod' : 'role-user')">ロール</td>
                    <td th:if="${currentUserRole == 'ROLE_ADMIN'}">
                        <form th:action="@{/admin/users/{userId}/promote(userId=${user.id})}" method="post"
                            th:if="${user.roleName == 'ROLE_USER'}">
                            <button type="submit" class="btn btn-red">昇格</button>
                        </form>
                        <form th:action="@{/admin/users/{userId}/demote(userId=${user.id})}" method="post"
                            th:if="${user.roleName == 'ROLE_MODERATOR'}">
                            <button type="submit" class="btn btn-blue">降格</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <div th:replace="~{footer :: footer}"></div>
</body>

</html>