<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<link rel="stylesheet" th:href="@{/css/style.css}" />

<header class="header" th:fragment="header">
  <div class="inner">
    <div class="nav">
      <div class="nav_left">
        <a class="title" th:href="@{/}">
          <img class="logo" th:src="@{/image/logo.png}" alt="logo">
        </a>
      </div>
      <div class="nav_right" th:if="${#authorization.expression('isAuthenticated()')}">
        <button id="notificationButton" class="notification-btn">🔔</button>
        <!-- ユーザー管理リンク（モデレータ or 管理者だけに表示） -->
        <div th:if="${userRole == 'ROLE_MODERATOR' or userRole == 'ROLE_ADMIN'}">
          <a th:href="@{/moderate/users}" class="nav_btn">ユーザー管理</a>
        </div>
        <a th:href="@{/users/{userId}(userId=${loginUser})}" class="nav_btn">マイページ</a>
        
        <a class="nav_btn" th:href="@{/prototype/prototypeNew}">新規投稿</a>
        <a class="nav_btn" th:href="@{/users/search}">ユーザー検索</a>
      </div>
      <div class="nav_right" th:if="${#authorization.expression('!isAuthenticated()')}">
        <a class="nav_btn" th:href="@{/users/sign_up}">新規登録</a>
        <a class="nav_btn" th:href="@{/users/login}">ログイン</a>
      </div>
    </div>
  </div>

  <div id="notificationModal" class="modal" style="display: none;">
    <div class="modal-content">
      <span id="closeModal" class="close">&times;</span>
      <ul id="notificationList"></ul>
    </div>
  </div>

  <script th:src="@{/javascript/notification.js}" defer></script>

</header>
</html>