<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<html>

<head>
  <meta charset="UTF-8">
  <title>ProtoSpace</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" th:href="@{/css/search.css}" />
  <link th:href="@{/css/prototypes.css}" rel="stylesheet" type="text/css">
</head>

<body>
  <div th:replace="~{header :: header}"></div>
  <main class="main">
    <div class="inner">
      <div class="greeting" th:if="${#authorization.expression('isAuthenticated()')}">
        こんにちは、
        <a class="greeting_link" th:href="${'/users/'+user.id}"><span th:text="${user.nickname}"></span>さん</a>
      </div>

      <form th:action="@{/prototypes/search}" th:object="${prototypeSearchForm}" method="get">
        <input type="text" th:field="*{prototypeName}" placeholder="Search by prototype name" class="search-box" />
        <button type="submit" class="search-button">Search</button>
      </form>

      <div th:replace="~{prototypes :: prototypes(${prototypes})}"></div>
    </div>
  </main>
  <div th:replace="~{footer :: footer}"></div>
</body>

</html>