<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<html>
<head>
  <meta charset="UTF-8">
  <title>ProtoSpace</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
  <div th:insert="~{header :: header}"></div>
  <main class="main">
    <div class="inner">
      <div class="greeting" th:if="${#authorization.expression('isAuthenticated()')}">
        こんにちは、
        <a class="greeting_link" th:href="${'/users/'+user.id}"><span th:text="${user.nickname}"></span>さん</a>
      </div>
      <div class="card_wrapper" th:each="prototype : ${prototypes}">
        <div class="card">
          <a href="#">
            <img class="card_img" th:src="@{${prototype.img}}">
          </a>
          <div class="card_body">
            <a class="card_title" href="#" th:text="${prototype.prototypeName}"></a>
            <p class="card_summary" th:text="${prototype.catchCopy}"></p>
            <a class="card_user" href="#">by <span th:text="${prototype.user.nickname}"></span></a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div th:insert="~{footer :: footer}"></div>
</body>
</html>