<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org" lang="ja"> -->
<html>
<head>
  <meta charset="UTF-8">
  <title>ProtoSpace</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="style.css"/>
</head>
<body>
  <header class="header">
    <div class="inner">
      <div class="nav">
        <div class="nav_left">
          <a class="title" href="#">
            <img class="logo" src="image/logo.png">
          </a>
        </div>
        <div class="nav_right">
          <a class="nav_logout" rel="nofollow" data-method="delete" href="#">ログアウト</a>
          <a class="nav_btn" href="#">New Proto</a>
        </div>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="inner">
      <div class="greeting">
        こんにちは、
        <a class="greeting_link" href="#">bbbさん</a>
      </div>
      <div class="card_wrapper">
        <div class="card">
          <a href="#">
            <img class="card_img" src="#">
          </a>
          <div class="card_body">
            <a class="card_title" href="#">fff</a>
            <p class="card_summary">ddd</p>
            <a class="card_user" href="#">by aaa</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <p class="copyright">Copyright © PROTO SPACE All rights reserved.</p>
  </footer>
</body>
</html>