<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<div th:fragment="prototype-editor">
  <div th:if="${#fields.hasErrors('prototypeName')}" class="field-error">
    <p th:each="err : ${#fields.errors('prototypeName')}" th:text="${err}">エラーメッセージ</p>
  </div>
  <h3>プロトタイプの名称</h3>
  <label for="prototypeName"></label>
  <input type="text" id="prototypeName" name="prototypeName" th:field="*{prototypeName}" class="prototype">

  <h3>プロトタイプのタグ</h3>
  <div th:replace="~{tags :: tag-edit(${tags})}"></div>

  <div th:if="${#fields.hasErrors('catchCopy')}" class="field-error">
    <p th:each="err : ${#fields.errors('catchCopy')}" th:text="${err}">エラーメッセージ</p>
  </div>
  <h3>キャッチコピー</h3>
  <label for="catchCopy"></label>
  <textarea id="catchCopy" name="catchCopy" th:field="*{catchCopy}" class="catchcopy"></textarea>

  <div th:if="${#fields.hasErrors('concept')}" class="field-error">
    <p th:each="err : ${#fields.errors('concept')}" th:text="${err}">エラーメッセージ</p>
  </div>
  <h3>コンセプト</h3>
  <label for="concept"></label>
  <textarea id="concept" name="concept" th:field="*{concept}" class="concept"></textarea>

  <div th:if="${#fields.hasErrors('imgFile')}" class="field-error">
    <p th:each="err : ${#fields.errors('imgFile')}" th:text="${err}">エラーメッセージ</p>
  </div>
  <h3>プロトタイプの画像</h3>
  <label for="img"></label>
  <input type="file" id="img" name="img" th:field="*{imgFile}">

  <!-- 画像未変更時用 -->
  <input type="hidden" th:field="*{imgPath}" />
</div>

</html>