<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<body>
  <div class="card_wrapper" th:fragment="prototypes(list)" >
    <!-- プロトタイプの繰り返し表示 -->
    <div class="card" th:each="prototype : ${list}">

      <!-- NEWアイコン -->
      <span class="new-icon" th:if="${prototypeRead != null and !prototypeRead.containsKey(prototype.id)}">NEW</span>
      
      <a th:href="@{/prototypes/{prototypeId}/detail(prototypeId=${prototype.id})}">
        <img class="card_img" th:src="@{${prototype.imgPath}}">
      </a>
      <div class="card_body">
        <a class="card_title" th:href="@{'/prototypes/' + ${prototype.id} + '/detail'}"
          th:text="${prototype.prototypeName}"></a>
        <div th:replace="~{tags :: prototype-tags(${prototype.tags})}"></div>
        <p class="card_summary" th:text="${prototype.catchCopy}"></p>
        <a class="card_user" th:if="${prototype.user}" th:href="@{'/users/'+${prototype.user.id}}">by <span
            th:text="${prototype.user.nickname}"></span></a>
        <span class="nice" th:text="${isNicePrototype[prototype.id]} ? '♥' + ' ' + ${nicePrototype[prototype.id]}: '♡' + ' ' + ${nicePrototype[prototype.id]}"></span>
          
      </div>
      <div th:replace="~{card :: card(${prototype})}"></div>
    </div>
  </div>
</body>

</html>