<head>
  <link href="edit.css" rel="stylesheet" type="text/css">
</head>
<div class="main-content">
  <h2>名前さんの情報</h2>
  <table>
    <tbody>
      <tr>
        <th>名前</th>
        <th>名前</th>
      </tr>
      <tr>
        <th>プロフィール</th>
        <th>texttexttexttexttexttexttexttexttexttext</th>
      </tr>
      <tr>
        <th>所属</th>
        <th>texttexttext</th>
      </tr>
      <tr>
        <th>役職</th>
        <th>texttexttext</th>
      </tr>
    </tbody>
  </table>
  <h2>名前さんのプロトタイプ</h2>
  <div>トップページのを使いまわす</div>
</div>