<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/edit.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/prototypes.css}" rel="stylesheet" type="text/css">
</head>

<body>
  <div th:insert="~{header :: header}"></div>
  <div class="main-content">
    <div class="userName">
      <h2><span th:text="${user.nickname}"></span>さんの情報</h2>
      <div th:if="${#authorization.expression('isAuthenticated()') and #authentication?.principal.getId() == user.id}">
        <a th:href="@{/users/{userId}/edit(userId=${user.id})}">
          <input type="submit" value="編集する" class="btn">
        </a>
      </div>
    </div>
    
    <table>
      <tbody>
        <tr>
          <th>名前</th>
          <th><span th:text="${user.nickname}"></span></th>
        </tr>
        <tr>
          <th>プロフィール</th>
          <th><span th:text="${user.profile}"></span></th>
        </tr>
        <tr>
          <th>所属</th>
          <th><span th:text="${user.affiliation}"></span></th>
        </tr>
        <tr>
          <th>役職</th>
          <th><span th:text="${user.position}"></span></th>
        </tr>
      </tbody>
    </table>
    <h2><span th:text="${user.nickname}"></span>さんのプロトタイプ</h2>

    <h3>ピン止プロトタイプ</h3>
    <div th:replace="~{prototypes :: prototypes(${pinnedPrototypes})}"></div>

    <h3>その他プロトタイプ</h3>
    <div th:replace="~{prototypes :: prototypes(${unpinnedPrototypes})}"></div>

    <!-- ブックマークした投稿の一覧表示 -->
    <h2>ブックマークしたプロトタイプ</h2>
    <div th:replace="~{prototype/bookmark :: bookmark}"></div>
  </div>
  <div th:insert="~{footer :: footer}"></div>
</body>

</html>