<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>PROTO SPACE</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    
    <!-- 機能するか未確認 -->
    <div th:insert="~{header :: header}"></div>

    <div class="login-wrapper">
      <div class="login-subtitle">
        <h5>ユーザーログイン</h5>
      </div>

      <div class="login-inner">
        <!-- action/objectは仮です　 -->
        <form th:action="{/login}" th:object="${loginForm}" method="post">
          <div class="field-wrapper">
            <div class="field">
              <div class="field-label">
                <label for="email">メールアドレス</label>
              </div>
              <div class="field-input">
                <input type="email" th:field="*{email}" id="email" required="required" />
              </div>
            </div>

            <div class="field">
              <div class='field-label'>
                <label for="password">パスワード(6文字以上)</label>
              </div>
              <div class='field-input'>
                <input type="password" th:field="*{password}" id="password" required="required">
              </div>
              <div class='submit-btn'>
                <input type="submit" value="ログイン" class="btn">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- 機能するか未確認 -->
    <div th:insert="~{footer :: footer}"></div>

  </body>
</html>