<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <link th:href="@{/css/prototypes.css}" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="card_wrapper" th:fragment="bookmark" >
    <!-- プロトタイプの繰り返し表示 -->
    <div class="card" th:each="prototype : ${bookmark}">
      <a th:href="@{/prototypes/{prototypeId}/detail(prototypeId=${prototype.id})}">
        <img class="card_img" th:src="@{${prototype.imgPath}}">
      </a>
      <div class="card_body">
        <a class="card_title" th:href="@{/prototypes/{prototypeId}/detail(prototypeId=${prototype.id})}" th:text="${prototype.prototypeName}"></a>
        <p class="card_summary" th:text="${prototype.catchCopy}"></p>
        <a class="card_user" th:if="${prototype.user}" th:href="@{'/users/'+${prototype.user.id}}">by <span
            th:text="${prototype.user.nickname}"></span></a>
        <div>いいね数：<span th:text="${niceBookmark[prototype.id]}"></span></div>
      </div>
    </div>
  </div>
</body>

</html>