<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link th:href="@{/css/prototypeDetail.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/tags.css}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link th:href="@{/css/comment.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/prototypes.css}" rel="stylesheet" type="text/css">
  <title>ProtoSpace</title>
</head>

<body>
  <!-- ヘッダー -->
  <div th:insert="~{header :: header}"></div>

  <div class="main">
    <div class="inner">
      <div class="protoType_wrapper">
        <p class="title" th:text="${prototype.prototypeName}"></p>

        <!-- ユーザー詳細ページ リンク -->
        <a class="user_name" th:href="@{'/users/'+${prototype.user.id}}"> by <span
            th:text="${prototype.user.nickname}"></span></a>

        <div
          th:if="${#authorization.expression('isAuthenticated()') and #authentication?.principal.getId() == prototype.user.id}">
          <div class="edit_delete">
            <a th:href="@{'/prototype/' + ${prototype.id} + '/edit'}">
              <input type="submit" value="編集する" class="btn">
            </a>
            <form th:action="@{'/prototypes/' + ${prototype.id} + '/delete'}" th:method="post">
              <input type="submit" value="削除する" class="btn">
            </form>
          </div>
        </div>

        <div class="protoType_img">
          <img th:src="@{${prototype.imgPath}}" alt="プロトタイプ画像">
        </div>

        <div th:replace="~{tags :: prototype-tags(${prototype.tags})}"></div>

        <div class="prototype_body">
          <div class="prototype_detail">
            <p class="detail_title">キャッチコピー</p>
            <p class="text" th:text="${prototype.catchCopy}"></p>
          </div>
          <div class="prototype_detail">
            <p class="detail_title">コンセプト</p>
            <p class="text" th:text="${prototype.concept}"></p>
          </div>
        </div>

        <div class="button-wrapper">
          <!-- ピン止めボタン -->
          <th:block th:unless="${isPinned}">
            <form th:action="@{'/prototypes/' + ${prototype.id} + '/pin/on'}" method="post">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <button type="submit" class="pin-btn pin-on">▷ピン</button>
            </form>
          </th:block>
          <th:block th:if="${isPinned}">
            <form th:action="@{'/prototypes/' + ${prototype.id} + '/pin/off'}" method="post">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <button type="submit" class="pin-btn pin-off">▶ピン</button>
            </form>
          </th:block>

          <!-- ブックマークボタン -->
          <form th:action="@{/prototypes/{prototypeId}/bookmark(prototypeId=${prototype.id})}" method="post">
            <!-- CSRFを追加 -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <input type="hidden" name="prototypeId" th:value="${prototype.id}" />
            <button type="submit" th:class="${isBookmarked} ? 'defuse-bookmark-button' : 'bookmark-button'">
              <span th:text="${isBookmarked} ? '★ブックマーク' : '☆ブックマーク'"></span>
            </button>
          </form>

          <!-- いいねボタン -->
          <form th:action="@{/prototypes/{prototypeId}/nice(prototypeId=${prototype.id})}" method="post">
            <!-- CSRFを追加 -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <input type="hidden" name="prototypeId" th:value="${prototype.id}" />
            <button type="submit" th:class="${isNice} ? 'defuse-nice-button' : 'nice-button'">
              <span th:text="${isNice} ? '♥' + ' ' + ${countNice}: '♡' + ' ' + ${countNice}"></span>
            </button>
          </form>
        </div>


        <!-- コメント -->
        <div th:replace="~{comment :: comment}"></div>

      </div>
    </div>
  </div>

  <!-- フッダー -->
  <div th:insert="~{footer :: footer}"></div>

</body>

</html>