.login-subtitle{
  letter-spacing: 2px;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
}

.field{
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
  width: 220px;
  height: 30px;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 2px;
  padding: 2px 5px;
  border: 1px solid #ccc;
}

input[type=submit].btn{
  background-color: rgb(72, 119, 177);
  color: white;
  height: 30px;
  font-size: 15px;
  padding: 0 15px;
  border: none;
  margin-top: 12px;
  border-radius: 2px;
  box-shadow: lightgray 0 2px 2px;
  width: 120px;
}
