.login-subtitle{
  letter-spacing: 2px;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
}

.field{
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
  width: 220px;
  height: 30px;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 2px;
  padding: 2px 5px;
  border: 1px solid #ccc;
}

input[type="password"] {
  margin-bottom: 30px;
}