* {
  box-sizing: border-box;
}

.hidden{
  display: none;
}

.header {
  background-color: #f1f8fe;
  margin-bottom: 48px;
  padding: 20px 0;
}

.inner {
  width: 90%;
  margin: 0 auto;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title a {
  text-decoration: none;
  color: #3b4043;
}

.logo {
  width: 200px;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}

.nav_logout {
  background-color: #f1f8fe;
}

.nav_logout_form {
  display: inline;
}

.nav_right{
  display: flex;
  align-items: center;
}

.nav_btn,
.nav_logout {
  height: 80%;
  display: flex;
  align-items: center;
  padding: 0.4em 1.6em;
  margin-left: 10px;
  font-size: 0.8em;
  color: #30a3eb;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.greeting {
  margin-bottom: 20px;
}

.greeting_link {
  text-decoration: underline;
}

a {
  color: #3b4043;
  text-decoration: none;
}

.footer {
  background-color: #999;
  padding: 10px 0;
}

.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}
